body {
    background-color: black;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 1vw;
}

.container {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 7vh;
}

.box {
    overflow: auto;
    padding: 2vh;
}

#box1 {
    flex: 70;
    font-size: 2.5vw;
}

#box2 {
    flex: 30;
    font-size: 1vw;
    margin-top: 12vh;
    text-align: center;
}
