/* Nav */

.header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    font-size: 1.3vw;
    margin-left: 1vw;
}

ul {
    list-style: none;
    display: flex;
    padding: 0vh;
    margin: 0.5vw;
}
  
.leftMenu li {
    margin-right: 1vw;
    font-size: 2vw;
}

.rightMenu li {
    margin-right: 3vw;
    padding: 1vh;
}
  
li:last-child {
    margin-right: 1vw;
}
  
li a {
    text-decoration: none;
    color: white;
}

.responsive-logo {
    width: 3vw;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}