.searchBar {
  width: 30vw;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: text;
  margin: auto;
  margin-top: 11.5vh;
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.searchResults {
  margin: 20px;
}

.searchResultsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.4vh;
}

.projectBox {
  width: 20vw;
  height: 23vh;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 1vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: auto;
}

.projectStatus {
  text-align: center;
}

h2 {
  padding-top: 6vh;
  padding-bottom: 10vh;
}
