@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Jura', sans-serif;
  color: #eaeaea;
}

@layer components {
  .btn-primary {
    @apply w-full font-[Jura] border border-green rounded-md py-1 bg-green text-black mb-4 hover:cursor-pointer hover:bg-green/60 font-semibold;
  }
  .btn-secondary {
    @apply w-full font-[Jura] border border-blue/50 rounded-md py-1 bg-black text-gray mb-4 hover:cursor-pointer hover:border-blue font-semibold;
  }
  .input-area {
    @apply w-full rounded-md pt-2 pl-4 pb-2 text-black focus:outline-none focus:ring focus:ring-blue focus:border-transparent;
  }
  .search-area {
    @apply w-full rounded-md pt-0.5 pl-4 pb-0.5 border-2 ring-2 ring-blue text-black focus:outline-none focus:ring-2 focus:ring-blue  focus:border-transparent;
  }
  .modal-input{
    @apply !mt-2 !mb-4 focus:outline-none focus:border-blue/40;
  }
}

@layer base {
  body {
    @apply h-full bg-black;
  }
  .contanier-primary {
    @apply h-full bg-black py-4 md:px-20;
  }
}
body {
  background-color: #03131a;
  width: 100vw;
  height: 100vh;
}

/* .overflow-scrolling {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
} */

::-webkit-scrollbar {

  width: 7px;
  height: 10px;
  background-color: #D4FF9D,
  
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: rgb(143, 214, 232, 0.1);
  border-radius: 10px;
  }